# 参考 `application-example.yaml` 并在处添加订阅规则，请注意缩进
# Refer to `application-example.yaml` and add subscription rules there，please note the indentation

application:

  input:

    - name: AdGuard 移动广告过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/11_optimized.txt
      type: easylist

    - name: AdGuard 防跟踪保护过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/3_optimized.txt
      type: easylist

    - name: AdGuard URL跟踪过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/17_optimized.txt
      type: easylist

    - name: AdGuard 恼人广告过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/14_optimized.txt
      type: easylist

    - name: AdGuard 解除搜索广告和自我推销过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/10_optimized.txt
      type: easylist

    - name: AdGuard 中文过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/224_optimized.txt
      type: easylist

    - name: AWAvenue-Adblock-Rule
      path: https://raw.githubusercontent.com/TG-Twilight/AWAvenue-Ads-Rule/main/AWAvenue-Ads-Rule.txt
      type: easylist

    - name: NoAppDownload
      path: https://raw.githubusercontent.com/Noyllopa/NoAppDownload/master/NoAppDownload.txt
      type: easylist

    - name: xndeye web-ad-rule
      path: https://raw.githubusercontent.com/xndeye/web-ad-rule/master/easylist.txt
      type: easylist

    - name: xinggsf movie
      path: https://raw.githubusercontent.com/xinggsf/Adblock-Plus-Rule/master/mv.txt

    - name: cjxlist annoyance
      path: https://raw.githubusercontent.com/cjx82630/cjxlist/master/cjx-annoyance.txt

    - name: EasyList China+EasyList
      path: https://easylist-downloads.adblockplus.org/easylistchina+easylist.txt

    - name: ABP filters
      path: https://easylist-downloads.adblockplus.org/abp-filters-anti-cv.txt

    - name: uBlockOrigin privacy
      path: https://raw.githubusercontent.com/uBlockOrigin/uAssets/refs/heads/master/filters/privacy.txt

    - name: Telemetry Lists - Aggregated
      path: https://raw.githubusercontent.com/SystemJargon/filters/refs/heads/main/telemetry.txt

#    - name: GoodbyeAds-Xiaomi
#      path: https://cdn.jsdelivr.net/gh/jerryn70/GoodbyeAds@master/Extension/GoodbyeAds-Xiaomi-Extension.txt
#
#    - name: GoodbyeAds-Huawei
#      path: https://cdn.jsdelivr.net/gh/jerryn70/GoodbyeAds@master/Extension/GoodbyeAds-Huawei-AdBlock.txt
#
#    - name: GoodbyeAds-Samsung
#      path: https://cdn.jsdelivr.net/gh/jerryn70/GoodbyeAds@master/Extension/GoodbyeAds-Samsung-AdBlock.txt

    - name: 'xndeye private adblock list'
      path: 'rule/private.txt'
      type: easylist

  output:
    file_header: |
      Title: xndeye adblock list of ${type}
      Total Size: ${total}
      Last Modified: ${date}
      Homepage: https://github.com/xndeye/adblock_list

    files:
      - name: easylist.txt
        type: easylist

      - name: dns.txt
        type: dns

      - name: modify.txt
        type: easylist
        filter:
          - unknown

      - name: dnsmasq.conf
        type: dnsmasq

      - name: clash.yaml
        type: clash

      - name: smartdns.conf
        type: smartdns

      - name: hosts
        type: hosts

  config:

    parser:
      log-level: debug
      alert-length: 6
      expected: 200000

      dns-probe:
        enable: true
        parallel: 128
        provider:
          - host: 1.1.1.1
            port: 53

          - host: 8.8.8.8
            port: 53

    excludes:
      - "edge.microsoft.com"
      - "metok.sys.miui.com"
      - "assets.msn.com"